<!-- Choose Section Start -->
<div id="facility" class="why-choose-us style2 gray-bg3 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-last mt-50">
                <div class="video-wrap md-mb-40">
                    <img src="assets/images/event.jpg" alt="">
                    <!-- <a class="popup-videos" href="https://www.youtube.com/watch?v=atMUy_bPoQI">
                        <i class="fa fa-play"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="sec-title2 mb-40">
                    <h2 class="title purple-color">Events  </h2>
                </div>
                <div class="facilities-two">
                    <div class="row">
                        <p>Details of Events / Celebrations during the previous year (2021-22)
                        </p>
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-12 single-facility">
                            
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    ચિત્ર સ્પર્ધા
                                </div>
                            </div>


                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    મહેંદી સ્પર્ધા 
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    ગુરુ પૂર્ણિમા : કાર્ડ બનાવવા 
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    વિશ્વ વસ્તી શિક્ષણ દિન ચિત્ર સ્પર્ધા
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    રંગોળી સ્પર્ધા 
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    વેસ્ટમાંથી બેસ્ટ 
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    રાખડી બનાવવી 
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-12 single-facility">
                            


                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    આદર્શ શિક્ષક : નિબંધ સ્પર્ધા 
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    આરતી સુશોભન : નવરાત્રી 
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    સરદાર પટેલ જીવન પ્રસંગ 
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    વિશ્વ એઇડ દિન : ચિત્ર સ્પર્ધા 
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    રમતોત્સવ રાજકોટ 
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>

                                </div>
                                <div class="text-part">
                                    ક્વીજ કોમ્પીટીશન 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Choose Section End -->