<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/about.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2">
                    <!-- <div class="sub-title">
                        About us
                    </div> -->
                    <h2 class="title purple-color mb-30">
                        About us
                    </h2>
                    <div class="bold-text mb-22"> Motibhai Amin Adhyapan Mandir, (P.T.C)</div>
                    <p class="desc mb-45">
                        This school provides an all-round, balanced education, based on sound physical, intellectual as well as moral and social growth. Particular emphasis has been placed on character development and development of the personality. The goal is to create students who are literate and patriotic, and law-abiding and never stop striving for excellence with a keen concern for everyone, especially those in the less fortunate and weak groups of society. The lessons you've learned from this college will help you to be in good stead in any circumstance. It will aid and help you to be enjoyable and successful.
                    </p>
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->

