<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="video-column col-lg-12">

                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Details Of Internship School:</h5>
                                <table>
                                    <tr>
                                        <th>No.</th>
                                        <th>NAME OF SCHOOL</th>
                                        <th>LOCATION
                                            (RURAL/URBAN
                                        </th>
                                        <th>GOV/NON GOV./
                                            PRIVATE
                                        </th>
                                        <th>NO OF STUDENT
                                            IN THE SCHOOL
                                        </th>
                                        <th>DISTANCE FROM TEI (k.m.)</th>
                                        <th>NO OF TEACHERS DEPUTED for internship</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>M.k. Sarswati School. V.v.nagar</td>
                                        <td>URBAN</td>
                                        <td>GOVE.</td>
                                        <td>22</td>
                                        <td>2</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Gana Primary School</td>
                                        <td>RURAL</td>
                                        <td>GOVE.</td>
                                        <td>25</td>
                                        <td>3.5</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Nagar Primary School 7 Anand</td>
                                        <td>URBAN</td>
                                        <td>GOVE.</td>
                                        <td>14</td>
                                        <td>2.5</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Nagar Primary School 13 Anand</td>
                                        <td>URBAN</td>
                                        <td>GOVE.</td>
                                        <td>20</td>
                                        <td>5</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Nagar Primary School 29anand</td>
                                        <td>URBAN</td>
                                        <td>GOVE.</td>
                                        <td>15</td>
                                        <td>5</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Gyanswami Primary School Khandhali</td>
                                        <td>RURAL</td>
                                        <td>GOVE.</td>
                                        <td>17</td>
                                        <td>9</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Primary School Dedarada</td>
                                        <td>RURAL</td>
                                        <td>GOVE.</td>
                                        <td>25</td>
                                        <td>14</td>
                                        <td>1</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="video-column col-lg-6">
                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Activities:</h5>
                                <ul>
                                    <li class="lectures-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Study Tours/ Field Visit
                                        </span>
                                    </li>

                                    <li class="quizzes-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Culture Programmes
                                        </span>
                                    </li>

                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Sports Day Celebration
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Debate Compitition
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Creative Gallery
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Day Celebrations
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Social Awareness
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">NSS Annual Camp
                                        </span>
                                    </li>
                                    <li class="duration-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Janmashtami and Navratri Celebrations
                                        </span>
                                    </li>

                                    <li class="students-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Religious Towards Humanities
                                        </span>
                                    </li>

                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Dead diction Awareness
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Women Empowerment
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Job Placement Fair
                                        </span>
                                    </li>
                                    <li class="assessments-feature">
                                        <i class="fa fa-arrow-right"></i>
                                        <span class="label">Students Career Counselling
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>