<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">
                    <h2>Message From From Principal's desk</h2>
                    <h5>Arvindbhai Padhiyar
                        <br>
                        <span>- Principal,</span>
                    </h5>
                    <p>You are standing at the edge of, If you look at your shoulders, you can are able to see your life
                        that you spent the last 13 years living. It is likely that you will do this occasionally. Sure,
                        you'll be looking back, but you can't go back in time. Life can be very confusing. Do not try to
                        get answers, because once you get answers, your life will change the issues. So, look ahead. You
                        might not be happy with much of the things you observe. There are things that are in chaos
                        everywhere, in the realm of education, in politics as well as in civil life. It isn't your fault
                        and you're going to be asked to help tidy it up.</p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->
                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->
                   
                    <p>In the course of your time at the school we hope that we have provided you with the tools you
                        need, moral, academic and spiritual to take on this challenging job. We'll be watching and
                        praying to see you utilize these tools effectively and efficiently throughout your future. Keep
                        in mind that when you are struggling in life, it's the fight in itself that makes your life
                        better and more meaningful. God alters our plans only to establish his plan for us, because we
                        look at our present and are planning for the future. But God is able to see our future and plans
                        for our future. We will be there for you with our attention and constant support.
                    </p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>